#header > img{
    width: 100%;
}
#contenu{
    padding:50px 10px 50px 10px;
}
#contenu h1{
    text-align:center;
}
#footer *{
    max-width:100% !important;
}
#footer .container{
    padding: 0 !important;
}
#commentaire{
    width:100%;
    height:150px;
    box-shadow: #1c2331 ;
    padding:20px;
    border:1px solid #000000;
    overflow-y: auto;
    margin-bottom:20px;
}
.form-comment{
    margin:20px auto;
}