<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le site du Nico{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" type="text/css" media="all" />
        {% endblock %}
    </head>
    <body>
        <div id="header"><img src="{{ asset('images/baniere.jpg') }}" alt="Banière représentant une montagne"></div>
        <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link"  href="/">Accueil</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"  href="/blogs">List des blogs</a>
                                <a class="dropdown-item"  href="/form">Ajouter un blog</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="contenu">
            {% block body %}{% endblock %}
        </div>
        <div id="footer">
            <div class="container">
                <!-- Footer -->
                <footer
                        class="text-center text-lg-start text-white"
                        style="background-color: #1c2331"
                >
                    <!-- Section: Social media -->
                    <section
                            class="d-flex justify-content-between p-4"
                            style="background-color: #6351ce"
                    >
                        <!-- Left -->
                        <div class="me-5">
                            <span>Get connected with us on social networks:</span>
                        </div>
                        <!-- Left -->

                        <!-- Right -->
                        <div>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="" class="text-white me-4">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                        <!-- Right -->
                    </section>
                    <!-- Section: Social media -->

                    <!-- Section: Links  -->
                    <section class="">
                        <div class="container text-center text-md-start mt-5">
                            <!-- Grid row -->
                            <div class="row mt-3">
                                <!-- Grid column -->
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <!-- Content -->
                                    <h6 class="text-uppercase fw-bold">Company name</h6>
                                    <hr
                                            class="mb-4 mt-0 d-inline-block mx-auto"
                                            style="width: 60px; background-color: #7c4dff; height: 2px"
                                    />
                                    <p>
                                        Here you can use rows and columns to organize your footer
                                        content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit.
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Products</h6>
                                    <hr
                                            class="mb-4 mt-0 d-inline-block mx-auto"
                                            style="width: 60px; background-color: #7c4dff; height: 2px"
                                    />
                                    <p>
                                        <a href="" class="text-white">MDBootstrap</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">MDWordPress</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">BrandFlow</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">Bootstrap Angular</a>
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                                    <hr
                                            class="mb-4 mt-0 d-inline-block mx-auto"
                                            style="width: 60px; background-color: #7c4dff; height: 2px"
                                    />
                                    <p>
                                        <a href="" class="text-white">Your Account</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">Become an Affiliate</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">Shipping Rates</a>
                                    </p>
                                    <p>
                                        <a href="" class="text-white">Help</a>
                                    </p>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Contact</h6>
                                    <hr
                                            class="mb-4 mt-0 d-inline-block mx-auto"
                                            style="width: 60px; background-color: #7c4dff; height: 2px"
                                    />
                                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                                    <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                        </div>
                    </section>
                    <!-- Section: Links  -->

                    <!-- Copyright -->
                    <div
                            class="text-center p-3"
                            style="background-color: rgba(0, 0, 0, 0.2)"
                    >
                        © 2020 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/"
                        >MDBootstrap.com</a
                        >
                    </div>
                    <!-- Copyright -->
                </footer>
                <!-- Footer -->

            </div>
            <!-- End of .container --></div>
    </body>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
</html>
